<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackting.lib_webview" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application>
        <activity android:name=".ui.WebActivity"
            android:process=":remote_webView"
            />
        <service android:name=".mainprocess.MainProHandleRemoteService"/>
        <service android:name=".remoteprocessservice.OptimizationService"/>
    </application>
</manifest>
