<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackting.module_msg">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name="com.jackting.module_msg.MainActivity">
        </activity>
    </application>

</manifest>