<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jackting.ecommall">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/res_ThemeYh"
        android:name=".AppApplication"
        >
        <!--tools:replace="android:appComponentFactory"-->
        <!--<activity android:name=".MainActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity android:name="com.jackting.module_main.ui.main.MainActivity"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jackting.module_user.ui.acccount.login.LoginActivity"
            />
        <activity android:name="com.jackting.module_user.ui.acccount.about_us.AboutUsActivity"/>
        <activity android:name="com.jackting.module_user.ui.acccount.register.RegisterActivity"/>

        <activity android:name="com.jackting.module_goods.ui.search.SearchActivity"/>

        <activity android:name="com.jackting.module_main.ui.scan.ScanActivity"/>


    </application>

</manifest>